PORT = 8010
MONGODB_URI = 
CORS_ORIGIN = http://localhost:5173 
TOKEN_SECRET = 
TOKEN_EXPIRY = 10d
ML_URL = https://kaushik8873-medino.hf.space
CLOUDINARY_API_SECRET = 
CLOUDINARY_NAME = 
CLOUDINARY_API_KEY = 
GEMINI_KEY = 